/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.user2-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user2-info{
    margin-left: 1rem;
}

.user2-name{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.25rem;
    text-align: start;
    text-transform: capitalize;
}


.user2-ad-name{
    font-family: 'Inter';
    font-weight: semi-bold;
    text-align: start;
    font-size: 1.1rem;
}

.user-text{
    font-family: 'Inter';
    font-size: 1rem;
    color: #959595;
}


.unread{
    color: #ef3f3f;
    font-weight: bold;
}